<div *ngIf="complaintDetails">
<div class="row">
    <div class="col-9"> 
        <div class="card">            
                <div class="card-body">                    
                    <h5 class="card-title">{{ complaintDetails.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ complaintDetails.category.name}}</h6>
                    <div class="card-subtitle mb-2 text-muted">{{ complaintDetails.createdBy}}</div>
                    <p class="card-text">{{complaintDetails.content}}</p>                                                    
                </div>            
        </div>
    </div>
    <div class="col-3">  
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <a [routerLink]="['/organization',complaintDetails.organization.id]" >{{ complaintDetails.organization.companyName}}</a>
                    
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ complaintDetails.organization.legalName}}</h6>
                <p class="card-text">
                    {{ complaintDetails.organization.legalName}}  
                </p>
                <p class="card-text">                    
                    <button class="btn btn-primary" (click)="registerComplaint()">Register Complaint</button>
                </p>                
            </div>            
        </div>        
    </div>
</div>

</div>