<nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-fixed-top">
  <a href="#" class="navbar-brand">Consumer Complaint</a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">      
      <div class="navbar-nav" *ngIf="isLoggedIn">
        <a href="#" class="nav-item nav-link active">{{loggedInUserName}}</a>
        <a href="#" class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
  </div>  
</nav>
<div class="search-section">
  <div class="input-group mb-3">
    <input id="searchText" type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText" />
    <div class="input-group-append">
      <button class="btn btn-success" type="submit" (click)="searchComplaint()">Go</button>
    </div>
  </div>  
</div>

<div class="container content">  
  <div class="row"><div>&nbsp;</div></div>
  <router-outlet></router-outlet>
  <div class="row"><div>&nbsp;</div></div>
</div>
<!-- Footer -->
<footer class="page-footer font-small bg-dark">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
